<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">filter By:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]='filterText' />
                {{filterText}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered by:</h3>
            </div>
        </div>
        <div class="table-repsonsive">
            <table class="table" *ngIf='movies&&movies.length'>
                <thead>
                    <tr>
                        <th><button (click)='toggleImage()' class="btn btn-primary">{{showImage?'Hide':'Show'}} Image</button></th>
                        <th>Movie</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let movie of movies'>
                        <td><img *ngIf='showImage' src={{movie.imageUrl}} [title]='movie.movieName'/></td>
                        <td>{{movie.movieName}}</td>
                        <td>{{movie.movieCode}}</td>
                        <td>{{movie.releaseDate}}</td>
                        <td>{{movie.price|currency:'USD':true:'1.2-2'}}</td>
                        <td>{{movie.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>